:root {
  /* colors */
  --primary: #a0168e;
  --secondary: #1363be;
  --success: hsl(143, 82%, 41%);
  --danger: hsl(345, 82%, 41%);
  --warning: hsl(49, 83%, 44%);
  --bg: #1d1d1d;
  --cbg: #2b2b2b;
  --head: #c5c5c5;
  --shead: #bdbdbd;
  --cblk: #252525;

  /* shadows */
  --shadowChungus: 0px 0px 30px 10px rgba(14, 14, 14, 0.5);
  --shadowStronk: 0px 5px 25px #1d1d1d;
  --shadowSmol: 0px 5px 20px rgba(28, 28, 28, 0.522);

  /* borders */
  --borderRadius: 0px;

  /* font sizes */
  --XS: 16px;
  --S: 22px;
  --M: 25px;
  --L: 32px;
  --XL: 40px;

  /* margins and paddings */
  --SM: 15px;
  --MM: 25px;
  --LM: 45px;
}

*:focus {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
  font-size: var(--M);
  color: var(--shead);
}

body {
  background: var(--bg);
}

.cardy {
  margin: 2% auto;
  width: 70%;
  background: var(--cbg);
  box-shadow: var(--shadowChungus);
  /* box-shadow: var(--extrashadow); */
  border-radius: var(--borderRadius);
  padding: var(--MM) var(--LM);
}

@media (max-width: 1366px){
  .cardy{
    width: 90%;
    padding: var(--SM) var(--MM);
  }
}

@media (max-width: 568px){
  .cardy{
    margin: 0;
    margin-bottom: var(--SM);
    border-radius: 0px;
    width: 100%;
    padding: 0px;
    padding-bottom: var(--SM);
  }
  .cardyTitle{
    padding-left: var(--MM);
    padding-top: var(--SM);
  }
  .cardyRow{
    flex-direction: column!important;
    align-items: center;
    justify-content: center;
  }
  .inputContainer{
    padding: 0px 0px!important;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--MM);
  }
  .gayInput{
    max-width: 70%;
  }
  .cInputLabel{
    align-items: center;
    justify-content: center!important;
  }
}

.cardyRow {
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.cardyTitle {
  text-transform: uppercase;
  font-weight: 800;
  font-size: var(--L);
  color: var(--head);
  margin-bottom: var(--MM);
}

.cardyRow {
  width: 100%;
  margin-bottom: calc(var(--SM) * 2);
}

.inputContainer {
  width: 100%;
  padding: 0px var(--MM);
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: left;
}

.cInputLabel {
  font-size: var(--S);
  font-weight: 700;
  color: var(--shead);
  margin-bottom: 2px;
  width: 100%;
}

.gayInput {
  border: 2px solid var(--shead);
  border-radius: var(--borderRadius);
  font-size: var(--M);
  color: var(--shead);
  padding-left: var(--SM);
  width: 100%;
  background: var(--cblk) !important;
  box-shadow: var(--shadowStronk);
  transition: border 200ms ease;
  box-sizing: border-box;
}

.gayInput:focus {
  border: 2px solid var(--secondary) !important;
}

.gayInput:focus + .cInputLabel {
  transform: translateY(-3px);
}

.btnContainer {
  margin-top: var(--MM);
}

.btny {
  padding: 0 calc(var(--SM) * 2);
  min-width: 220px;
  border-radius: var(--borderRadius);
  box-shadow: var(--shadowSmol);
}

.btnIcon {
}

.btnTxt {
  font-weight: 700;
  font-size: var(--M);
  color: var(--head);
  cursor: pointer;
}

.listy {
  width: 100%;
  height: 100%;
}

.listyItem {
  width: 95%;
  background: rgb(54, 54, 54);
  border-radius: var(--borderRadius);
  overflow: hidden;
  box-shadow: var(--shadowStronk);
  margin-top: var(--SM);
  margin-bottom: var(--SM);
}

.listyInfo{
  flex-grow: 1;
  padding-left: var(--SM);
  color: var(--shead);
  font-size: var(--XS);
}

.listyInfo > div{
  flex-grow: 1;
}

.listyBtn{
  height: calc(var(--S) * 2.6);
  width: calc(var(--S) * 2.6);
}

.listyBtn > i{
  color: var(--head);
}

/* 
*
* Utility classes
*
 */
.primary {
  background: var(--primary);
}

.secondary {
  background: var(--secondary);
}

.danger {
  background: var(--danger);
}

.success {
  background: var(--success);
}

.warning {
  background: var(--warning);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  display: flex;
  align-items: center;
  justify-content: left;
}

.right {
  display: flex;
  align-items: center;
  justify-content: right;
}

.heightXS{
  height: calc(var(--XS) * 2.6);
}

.heightS{
  height: calc(var(--S) * 2.6);
}

.heightM{
  height: calc(var(--M) * 2.6);
}

.heightL{
  height: calc(var(--L) * 2.6);
}

.heightXL{
  height: calc(var(--XL) * 2.6);
}

.interactable:hover > .hovers{
  transform: translateY(-3px);
}

.interactable:focus > .hovers{
  transform: translateY(-3px);
}

.interactable > .hovers{
  transition: transform 200ms ease;
}

.points{
  cursor: pointer;
}

.row{
  display: flex;
  flex-direction: row;
}

.column{
  display: flex;
  flex-direction: column;
}

.col-2 > div{
  max-width:50%;
}

.col-3 > div{
  max-width:33.33%;
}

.col-4 > div{
  max-width:25%;
}

.col-5 > div{
  max-width:20%;
}

.col-6 > div{
  max-width:16.66%;
}

