/* Color Theme Swatches in Hex */
.Graphic-Design-1-hex { color: #F2F2F2; }
.Graphic-Design-2-hex { color: #8C8C8C; }
.Graphic-Design-3-hex { color: #D9D8D2; }
.Graphic-Design-4-hex { color: #404040; }
.Graphic-Design-5-hex { color: #0D0D0D; }

/* Color Theme Swatches in RGBA */
.Graphic-Design-1-rgba { color: rgba(242, 242, 242, 1); }
.Graphic-Design-2-rgba { color: rgba(140, 140, 140, 1); }
.Graphic-Design-3-rgba { color: rgba(216, 216, 210, 1); }
.Graphic-Design-4-rgba { color: rgba(63, 63, 63, 1); }
.Graphic-Design-5-rgba { color: rgba(12, 12, 12, 1); }

/* Color Theme Swatches in HSLA */
.Graphic-Design-1-hsla { color: hsla(0, 0, 95, 1); }
.Graphic-Design-2-hsla { color: hsla(0, 0, 55, 1); }
.Graphic-Design-3-hsla { color: hsla(56, 7, 83, 1); }
.Graphic-Design-4-hsla { color: hsla(0, 0, 25, 1); }
.Graphic-Design-5-hsla { color: hsla(0, 0, 5, 1); }